/* General CSS */

html {
  font-family: "Helvetica Neue", Helvetica, Arial;
}

body {
  font-size: calc(1.2em + 0.5vw);
  width: 100vw;
}

h1 h2 h3 h4 h5 h6 p i em {
  /* font-size: 1.25em;
  font-weight: normal; */
  /* margin: 0;
  padding: 0;
  color: aqua;
  text-transform: uppercase; */
}

hr {
  width: 40%;
  margin-top: 1.5em;
  margin-bottom: 1em;
  margin-right: 100%;
}
.title {
  font-size: 16;
  font-weight: 600;
  position: relative;
}
ul{
  list-style-type: none;
}

/** ======================================= */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .title {
    font-size: 16;
    font-weight: 600;
  }

  /* CSS */
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

  @media (min-height: 1025px) and (max-height: 1280px) {
    .title {
      font-size: 14;

    }
    /* CSS */
  }
@media (min-width: 1025px) and (max-width: 1280px) {
  .title {
    font-size: 16;
    font-weight: 600;
  }
  /* CSS */
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 16;
    font-weight: 600;
  }
  /* CSS */
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .title {
    font-size: 16;
    font-weight: 600;
  }
  /* CSS */
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .title {
    font-size: 16;
    font-weight: 600;
  }
  /* CSS */
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .title {
    font-size: 16;
    font-weight: 600;
  }
  /* CSS */
}
